# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [3]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

In [4]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [5]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.920302  0.541579  0.847930
1  0.273217  0.326846  0.087181
2  0.777855  0.581935  0.320316
3  0.444451  0.950183  0.571487
4  0.326530  0.228287  0.425655

In [6]:
df - df.mean()

          0         1         2
0  0.371831  0.015813  0.397416
1 -0.275254 -0.198920 -0.363333
2  0.229384  0.056169 -0.130198
3 -0.104020  0.424418  0.120973
4 -0.221941 -0.297479 -0.024859

In [7]:
df.sub(df.mean(axis=1) ,axis=0)

          0         1         2
0  0.150365 -0.228358  0.077993
1  0.044136  0.097765 -0.141900
2  0.217820  0.021900 -0.239719
3 -0.210923  0.294810 -0.083887
4 -0.000294 -0.098537  0.098831

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [33]:
df

          0         1         2
0  0.763566  0.846747  0.885887
1  0.782180  0.006052  0.844430
2  0.547830  0.603736  0.106965
3  0.763000  0.586530  0.882552
4  0.311204  0.609405  0.915406

In [8]:
df.sum().argmax()

0

In [9]:
df.sum(axis=1).argmax()

0