# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一筆的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

In [30]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [31]:
mean_of_animal = df.groupby('animal').mean()
print(mean_of_animal)
order_by_age = mean_of_animal.sort_values(by='age')
print(order_by_age)
order_by_visits = mean_of_animal.sort_values(by='visits')
print(order_by_visits)
df.priority = df.priority.apply(lambda x : True if x=='yes' else False)
print(df)

        age  visits
animal
cat     2.5     2.0
dog     5.0     2.0
snake   2.5     1.5
        age  visits
animal
cat     2.5     2.0
snake   2.5     1.5
dog     5.0     2.0
        age  visits
animal
snake   2.5     1.5
cat     2.5     2.0
dog     5.0     2.0
  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [32]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.800432  0.123682  0.284186
1  0.244031  0.724652  0.379282
2  0.111553  0.812831  0.417295
3  0.205898  0.538782  0.928528
4  0.719379  0.091341  0.895342

In [50]:
result1=df.apply(lambda x : x - x.mean())
print(result1)

          0         1         2
0  0.384173 -0.334576 -0.296741
1 -0.172227  0.266395 -0.201644
2 -0.304706  0.354573 -0.163632
3 -0.210361  0.080525  0.347602
4  0.303121 -0.366917  0.314415

In [51]:
mean=df.mean() 
avg=mean.sum() / mean.count()
result2=df.apply(lambda x : x - avg)
print(result2)

          0         1         2
0  0.315284 -0.361466 -0.200962
1 -0.241117  0.239505 -0.105865
2 -0.373595  0.327683 -0.067853
3 -0.279250  0.053635  0.443380
4  0.234232 -0.393807  0.410194

### 3. 承上題，請問：

1) 哪一筆的資料總合最小
2) 哪一欄位的資料總合最小

In [33]:
df

          0         1         2
0  0.763566  0.846747  0.885887
1  0.782180  0.006052  0.844430
2  0.547830  0.603736  0.106965
3  0.763000  0.586530  0.882552
4  0.311204  0.609405  0.915406

In [53]:
sum=df.sum()
print(sum)

0    2.081293
1    2.291288
2    2.904632
dtype: float64

In [35]:
'''
Your Code
'''

/Users/wei/.virtualenvs/py3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.

0